* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-image: url("img/bg1.jpg");
  background-size: cover;
}

#wrapper {
  width: 1400px;
  height: 100vh;
  margin: auto;
}

header h1 {
  text-align: center;
  margin-top: 5px;
  font-size: 4em;
  color: #fafafa;
  letter-spacing: 1px;
  font-family: 'Tangerine', cursive;
}

.container-input {
  text-align: center;
  margin-top: 25px;
}

.container-input select, .container-input button{
  padding: 10px;
  border-style: hidden;
  border-radius: 8px;
  background-color: #fafafa;
  color: #29587f;
  font-size: 18px;
}

.container-input select {
  width: 10%;
}

.button-calendar {
  text-align: center;
}

.button-calendar #btn-left, .button-calendar #btn-right {
  font-size: 36px;
  color: #fafafa;
}

.button-calendar #btn-left {
  padding-right: 350px;
}

#container-calendar {
  height: 60vh;
  -webkit-transition: display 5s; /* Safari */
   transition: display 5s;
}

#container-calendar, .days-container{
  width: 70vw;
  margin: auto;
}

.days-container {
  height: 20px;
  margin-bottom: 2%;
  margin-left: 10px;
  display:none;
}

.select-month{
  text-align: center;
  font-size: 34px;
  color: #fafafa;
}
.select-month h3{
  font-family: 'Tangerine', cursive;
}

.days {
  float: left;
  width: 12%;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px;
  color:  #fafafa;

}
.this-day {
  padding-right:100px;
}

.container-date {
  width: 70vw;
  margin: auto;
  margin-left: 2%;
  margin-top: 4%;
}

.item-date {
  float: left;
  width: 12%;
  height: 70px;
  margin-top: 7px;
  margin-left: 7px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(250, 250, 250,0.4);
  box-shadow: 5px 10px #29587f;

  color: #29587f;
  transition: transform 1s;

}

.item-date:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.days-letter {
  font-size: 12.5px;
  color: #288bba;
}

.holiday {
  color:#e53935;
  font-weight: bold;
}

.select-month h5 {
  text-align: center;
  display: inline-block;
  width: 20%;
}

.fas.fa-angle-right, .fas.fa-angle-left {
  cursor: pointer;
  font-size: 20px;
  display: none;
}
